<div class="nk-footer nk-footer-fluid">
    <div class="container-fluid">
        <div class="nk-footer-wrap">
            <div class="nk-footer-copyright"> &copy; 2023 cressetunionalliance.liveplc  - <a href="#">All rights reserved.</a>
            </div>
            <div class="nk-footer-links">
                <ul class="nav nav-sm">
                    <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Privacy</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Help</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/static/myaccount/js/country.js"></script>
<script src="/static/myaccount/assets/js/bundle8d5a.js"></script>
<script src="/static/myaccount/assets/js/scripts8d5a.js"></script>
<script src="/static/myaccount/assets/js/charts/chart-crypto.js"></script>
<script src="/static/myaccount/js/sweetalert.js"></script>
<script src="/static/myaccount/assets/js/jquery.min.js"></script>
<script src="/static/myaccount/assets/js/custom.js"></script>
<script src="/static/myaccount/js/toastr.js"></script>
<script src="//code.tidio.co/zjand1hzvqda8lwqgeg37vlkc4rcdwur.js" async></script>
