{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>



<div class="page-wrapper">




<section class="hero-wrap style3 bg-squeeze">
<img src="/static/assets/img/hero/hero-shape-10.png" alt="Image" class="hero-shape-one">
<img src="/static/assets/img/hero/hero-shape-15.png" alt="Image" class="hero-shape-two">
<img src="/static/assets/img/hero/hero-shape-14.png" alt="Image" class="hero-shape-three">
<img src="/static/assets/img/hero/hero-shape-11.png" alt="Image" class="hero-shape-four animationFramesTwo">
<div class="hero-slider-one owl-carousel">
<div class="hero-slide-item">
<div class="container">
<div class="row gx-5 align-items-center">
<div class="col-md-6">
<div class="hero-content" data-speed="0.10" data-revert="true">
<span>Instant Money Transfer</span>
<h1>Transfer Money Across World In Real Time</h1>
<p>Finally, a bank account that gives you more. Rewards Checking from cressetunionalliance.live Bank PLC offers the flexibility and convenience you deserve.</p>
<div class="hero-btn">
<a href="{% url 'userurl:login' %}" class="btn style1">Get Started</a>
<a class="play-video" data-fancybox href="https://www.youtube.com/watch?v=DGo-OhDWIKQ">
<span class="play-btn"> <i class="flaticon-play-button-arrowhead"></i></span>
<span class="sm-none">Watch Video</span>
</a>
</div>
</div>
</div>
<div class="col-md-6">
<div class="hero-img-wrap">
<img src="/static/assets/img/hero/hero-shape-13.png" alt="Image" class="hero-shape-five bounce">
<img src="/static/assets/img/hero/hero-shape-12.png" alt="Image" class="hero-shape-six moveHorizontal">
<img src="/static/assets/img/hero/hero-slide-1.png" alt="Image" class="hero-img">
</div>
</div>
</div>
</div>
</div>
<div class="hero-slide-item">
<div class="container">
<div class="row gx-5 align-items-center">
<div class="col-md-6">
<div class="hero-content" data-speed="0.10" data-revert="true">
<span>Online Payment System</span>
<h1>Secured &amp; Easy Online Payment Solution </h1>
<p>Finally, a bank account that gives you more. Rewards Checking from cressetunionalliance.live Bank PLC offers the flexibility and convenience you deserve.</p>
<div class="hero-btn">
<a href="{% url 'userurl:login' %}" class="btn style1">Get Started</a>
<a class="play-video" data-fancybox href="https://www.youtube.com/watch?v=DGo-OhDWIKQ">
<span class="play-btn"> <i class="flaticon-play-button-arrowhead"></i></span>
<span class="sm-none">Watch Video</span>
</a>
</div>
</div>
</div>
<div class="col-md-6">
<div class="hero-img-wrap">
<img src="/static/assets/img/hero/hero-shape-13.png" alt="Image" class="hero-shape-five bounce">
<img src="/static/assets/img/hero/hero-shape-12.png" alt="Image" class="hero-shape-six moveHorizontal">
<img src="/static/assets/img/hero/hero-slide-2.png" alt="Image" class="hero-img">
</div>
</div>
</div>
</div>
</div>
<div class="hero-slide-item">
<div class="container">
<div class="row gx-5 align-items-center">
<div class="col-md-6">
<div class="hero-content" data-speed="0.10" data-revert="true">
<span>Global Money Transfer</span>
<h1>Move Your Money In Easy Secured Steps</h1>
<p>Finally, a bank account that gives you more. Rewards Checking from cressetunionalliance.live Bank PLC offers the flexibility and convenience you deserve.</p>
<div class="hero-btn">
<a href="{% url 'userurl:login' %}" class="btn style1">Get Started</a>
<a class="play-video" data-fancybox href="https://www.youtube.com/watch?v=DGo-OhDWIKQ">
<span class="play-btn"> <i class="flaticon-play-button-arrowhead"></i></span>
<span class="sm-none">Watch Video</span>
</a>
</div>
</div>
</div>
<div class="col-md-6">
<div class="hero-img-wrap">
<img src="/static/assets/img/hero/hero-shape-13.png" alt="Image" class="hero-shape-five bounce">
<img src="/static/assets/img/hero/hero-shape-12.png" alt="Image" class="hero-shape-six moveHorizontal">
<img src="/static/assets/img/hero/hero-slide-3.png" alt="Image" class="hero-img">
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<div class="service-charge-wrap bg-stratos ptb-100">
<div class="container">
<form action="#" class="charge-form">
<div class="row justify-content-center">
<div class="col-lg-4 col-md-6">
<div class="form-group">
<label for="send_money">Your Send Money</label>
<input type="number" id="send_money" name="send_money" placeholder="$1000">
<select>
<option value="1">USD</option>
<option value="2">EURO</option>
</select>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="form-group">
<label for="recieved_money">Recipient Gets</label>
<input type="number" id="recieved_money" name="recieved_money" placeholder="$1000">
<select>
<option value="1">USD</option>
<option value="2">EURO</option>
</select>
</div>
</div>
<div class="col-lg-4 col-md-12">
<div class="form-group form-btn">
<button type="submit" class="btn style1 w-100 d-block">Get Estimation</button>
</div>
</div>
<div class="col-lg-12">
<p><span>82.50</span> Exchange Rate <span>$5.50</span> Transition Fees</p>
<p>By clicking continue, I am agree with <a href="#" class="link style1">Terms & Policy</a></p>
</div>
</div>
</form>
</div>
</div>


<section class="feature-wrap pt-100 pb-75">
<div class="container">
<div class="row justify-content-center">
<div class="col-xl-4 col-lg-6 col-md-6">
<div class="feature-card style3">
<div class="feature-info">
<div class="feature-title">
<span><img src="/static/assets/img/feature/feature-icon-1.png" alt="Image"></span>
<h3>Create An Account</h3>
</div>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-6 col-md-6">
<div class="feature-card style3">
<div class="feature-info">
<div class="feature-title">
<span><img src="/static/assets/img/feature/feature-icon-2.png" alt="Image"></span>
<h3>Attach bank Account</h3>
</div>

</div>
</div>
</div>
<div class="col-xl-4 col-lg-6 col-md-6">
<div class="feature-card style3">
<div class="feature-info">
<div class="feature-title">
<span><img src="/static/assets/img/feature/feature-icon-3.png" alt="Image"></span>
<h3>Send Money</h3>
</div>

</div>
</div>
</div>
</div>
</div>
</section>


<section class="why-choose-wrap style1 pb-100 bg-bunting">
<div class="container">
<div class="row gx-5 align-items-center">
<div class="col-lg-6">
<div class="wh-img-wrap">
<img src="/static/assets/img/why-choose-us/wh-img-1.png" alt="Image">
<img class="wh-shape-one bounce" src="/static/assets/img/why-choose-us/wh-shape-1.png" alt="Image">
<img class="wh-shape-two animationFramesTwo" src="/static/assets/img/why-choose-us/wh-shape-2.png" alt="Image">
</div>
</div>
<div class="col-lg-6">
<div class="wh-content">
<div class="content-title style1">
<span>Why Choose Us</span>
<h2>Get World Class &amp; Fastest Online Payment Service</h2>
<p>At clitex, we cater for the day-to-day banking requirements of consumers. Checking products are easy to operate and come with a host of added benefits like free internet banking, Loans, ATM/debit card facilities, online bill payment, monthly statement with image, low opening deposits, and many more. Generally, the services we offer involve preparing a financial plan or rendering a financial consultation for clients based on the client’s financial goals and objectives.</p>
</div>
<div class="feature-item-wrap">
<div class="feature-item">
<span class="feature-icon">
<i class="flaticon-graph"></i>
</span>
<div class="feature-text">
<h3>Low Costing</h3>

</div>
</div>
<div class="feature-item">
<span class="feature-icon">
<i class="flaticon-loan-1"></i>
</span>
<div class="feature-text">
<h3>Safe &amp; Secure</h3>

</div>
</div>
<div class="feature-item">
<span class="feature-icon">
<i class="flaticon-computer"></i>
</span>
<div class="feature-text">
<h3>Live Support</h3>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<div class="counter-wrap">
<div class="container">
<div class="counter-card-wrap">
<div class="counter-card">
<div class="counter-text">
<div class="counter-num">
<span class="odometer" data-count="5430"></span>
</div>
<p>Happy Customers</p>
</div>
</div>
<div class="counter-card">
<div class="counter-text">
<div class="counter-num">
<span class="odometer" data-count="25"></span>
</div>
<p>Years in Banking</p>
</div>
</div>
<div class="counter-card">
<div class="counter-text">
<div class="counter-num">
<span class="odometer" data-count="2597"></span>
</div>
<p>Our Branches</p>
</div>
</div>
<div class="counter-card">
<div class="counter-text">
<div class="counter-num">
<span class="odometer" data-count="40467"></span>
</div>
<p>Successful Projects</p>
</div>
</div>
</div>
</div>
</div>

 
<section class="service-wrap style3 ptb-100 bg-rock">
<div class="container">
<img src="/static/assets/img/service-shape-1.png" alt="Image" class="service-shape-one">
<img src="/static/assets/img/service-shape-2.png" alt="Image" class="service-shape-two">
<div class="section-title style1 text-center mb-40">
<span>Our Services</span>
<h2 class="text-white">Get Your Raxa online Banking</h2>
</div>
<div class="row gx-5 align-items-center">
<div class="col-md-6">
<div class="service-card style3">
<span class="service-icon">
<i class="flaticon-payment-method"></i>
</span>
<div class="service-info">
<h3><a href="">Mobile Banking</a></h3>

</div>
</div>
</div>
<div class="col-md-6">
<div class="service-card style3">
<span class="service-icon">
<i class="flaticon-computer"></i>
</span>
<div class="service-info">
<h3><a href="">Secure Payment</a></h3>

</div>
</div>
</div>
<div class="col-md-6">
<div class="service-card style3">
<span class="service-icon">
<i class="flaticon-credit-card"></i>
</span>
<div class="service-info">
<h3><a href="">Saving Account</a></h3>

</div>
</div>
</div>
<div class="col-md-6">
<div class="service-card style3">
<span class="service-icon">
<i class="flaticon-loan-1"></i>
</span>
<div class="service-info">
<h3><a href="">Personal Savings</a></h3>

</div>
</div>
</div>
</div>
<div class="text-center mt-20">
<a href="" class="btn style1">View All Services</a>
</div>
</div>
</section>



<section class="testimonial-wrap ptb-100  bg-albastor">
<div class="container">
<div class="row">
<div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
<div class="section-title style1 text-center mb-40">
<span>Our Testimonials</span>
<h2>What Our Client Says</h2>
</div>
</div>
</div>
<div class="testimonial-slider-three owl-carousel">
    {% for i in rev %}
<div class="testimonial-card style3">
<span class="quote-icon">
<i class="flaticon-quotation-mark"></i>
</span>
<p class="client-quote">{{i.body}}</p>
<div class="testimonial-card-thumb">
<div class="client-info-wrap">
<div class="client-img">
<img src="{{i.image.url}}" alt="Image">
</div>
<div class="client-info">
<h4>{{i.name}}</h4>

</div>
</div>
</div>
</div>
{% endfor %}

</div>
</div>
</section>


<section class="app-wrap  ptb-100 bg-rock">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-7 col-md-8">
<div class="app-content sm-center">
<div class="content-title style2">
<h2>You Can Find All Things You Need In Our App</h2>
</div>
</div>
</div>
<div class="col-lg-5 col-md-4 text-md-end sm-center">
<div class="app-btn">
<a href="https://play.google.com/store/apps"><img src="/static/assets/img/play-store.png" alt="Image"></a>
<a href="https://www.apple.com/app-store/"><img src="/static/assets/img/apple-store.png" alt="Image"></a>
</div>
</div>
</div>
</div>
</section>


<section class="goal-wrap ptb-100">
<div class="container">
<div class="row gx-5 align-items-center">
<div class="col-lg-6">
<div class="goal-img-wrap">
<img src="/static/assets/img/goal/goal-shape-1.png" alt="Image" class="goal-shape-three bounce">
<img src="/static/assets/img/goal/goal-shape-2.png" alt="Image" class="goal-shape-one">
<img src="/static/assets/img/goal/goal-shape-3.png" alt="Image" class="goal-shape-two">
<img src="/static/assets/img/goal/goal-1.jpg" alt="Image">
</div>
</div>
<div class="col-lg-6">
<div class="goal-content">
<div class="content-title style1">
<span>Goal Setting</span>
<h2>Manage Your Money With Online Banking Solution</h2>

</div>
<ul class="content-feature-list style1 list-style">
<li><span><i class="flaticon-tick"></i></span>Learn To Budget</li>
<li><span><i class="flaticon-tick"></i></span>Create An Emergency Fund</li>
<li><span><i class="flaticon-tick"></i></span>Get Out Of Debt</li>
<li><span><i class="flaticon-tick"></i></span>Save And Invest Your Money</li>
</ul>
</div>
</div>
</div>
</div>
</section>






</div>


</body>
{% endblock content %}